.about {
  background-color: rgba(0,0,0, 0.8);
  /* opacity: 0.9; */
  min-height: 90vh;

  @mixin atMedium {
    min-height: 40vh;
  }

  &__content {
    padding: 3% 0;


    @mixin atLarge {
      height: 100%;

      p {
        font-size: 1.3rem;
      }
    }
  }

  /* &__image {

    height: 100%;
    width: 15%;
    border-radius: 100%;
  } */




  img {
    border-radius: 100%;
    border: 7px solid white;
    background-color: black;
    height:200px;
    width: 200px;
    top: 0;
    left: 0;
    transform: translate(50%,-2%);

    @mixin atMedium {
      height:250px;
      width: 250px;
      top: 0;
      left: 0;
      transform: translate(13.5%,13.5%);
    }

    @mixin atLarge {
      height: 400px;
      width: auto;
      top: 0;
      left: 0;
      transform: translate(0%,0%);
    }
  }

  &__text-content {
    padding-right: 0px;

    h2 {
      text-align: center;
      margin: 0;
    }

  }

}
