.about {
  background-color: navy;
  min-height: 90vh;

  /* @mixin atMedium {
    min-height: 80vh;
  } */

  &__content {
    padding: 2% 0;

    @mixin atLarge {
      height: 100%;

      p {
        font-size: 1.3rem;
      }
    }
  }




  img {

    @mixin atLarge {
      display: block;
      top: 0;
      left: 0;
      transform: translate(50%,50%);
    }
  }

  &__text-content {
    padding-right: 0px;

    h2 {
      text-align: center;
      margin: 0;
    }

  }


  @mixin atLarge {
    height: 35vh;

    img {
      width: 134px;
      height: 107.609px;
      text-align: center;
    }
  }

}
