.col {
  width: 100%;
  float: left;


  
    &-xs-11 {
      width: 100%;
    }


  @mixin atLarge {

    padding-right: 20px;

    &__8--wide{
      min-width: 327px;
    }
    &--lg-2 {
      width: 25%;
    }

    &--lg-5 {
      width: 37.5%;
    }

    &--lg-4 {
      width: 30%;
    }

    &--lg-6 {
      width: 50%;
    }
  }
}
