.hero {
  background-color: red;
  height: 100vh;
  max-width: 100%;

  h1 {
    margin: 0;
  }

  &__text-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 0;
  }

}
