.hero {
  background-color: navy;
  height: 100vh;
  max-width: 100%;

  h1 {
    margin: 0;
  }

  &__text-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 26%;
    left: 0;

    h1 {
      font-size: 5rem;
    }

    @mixin atMedium {
        top: 33%;
      }

    @mixin atLarge {
        top: 38%;
      }
  }

  &__text-content--center {
    text-align: center;
  }
}
