.hero {
  /* background-color: navy; */
  background-image: url('../../assets/images/office-surf.jpg');
  height: 100vh;
  max-width: 100%;

  h1 {
    margin: 0;
  }

  &__text-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 26%;
    left: 0;

    h1 {
      font-size: 3rem;

      @mixin atMedium {
        font-size: 5rem;
      }
    }

    h2 {
      font-size: 1.4rem;

      @mixin atMedium {
        font-size: 1.5rem;
      }
    }

    @mixin atLarge {
        top: 38%;
      }

  }

  &__text-content--center {
    /* position: absolute;
    width: 100%;
    transform: translateX(2%); */
    text-align: center;
  }


}
