.icons {
  position: relative;
  font-size: 1.7rem;

  i {
    color: white;
    font-size: 2rem;
    padding-right: 20px;
  }


  &--footer  a > i{
    font-size: 2.5rem;
    padding-left: 20%;
  }


  &__arrow {
    position: relative;
    top: 3.125rem;
    a > i {
      font-size: 4.5rem;
    }
  }

}
