.primary-nav {
  /* position: relative; */
  min-height: 10vh;
  display: none;
  width: 95%;

  .expand {
    display: block;
  }

  /* @miixin atLarge {
    display: block;
  } */


  ul {

    text-align: center;



    @mixin atLarge {
      position: relative;
      left: .96rem;
      top: .96rem;
      padding: 10px 0;
      margin: 0;
      padding: 20px 0;
      float: right;
    }
  }

  li {
    list-style: none;
    padding: 2% 0;

    @mixin atLarge {
      float: left;
      padding-right: 1.7rem;
    }

  }

  a {
    text-decoration: none;
    color: white;
  }
}
