.primary-nav {
  position: relative;
  height: 10vh;

  @mixin atLarge {
    &--pull-right {
      float: right;
    }
  }

  ul {
    position: relative;
    left: .96rem;
    top: .96rem;
    padding: 10px 0;
    margin: 0;


    @mixin atLarge {
      padding: 20px 0;
    }
  }

  li {
    list-style: none;
    float: left;
    padding-right: 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
