.primary-nav {
  position: relative;
  height: 7vh;
  font-size: 0.8rem;

  @mixin atMedium {
    font-size: 1.8rem;
  }

  @mixin atLarge {
    font-size: 1.2rem;

    &--pull-right {
      float: right;
    }
  }

  ul {
    position: relative;
    top: .96rem;
    padding:0;
    margin:auto 0;
    text-align: center;

    @mixin atLarge {
      padding: 20px 0;
      top: -.5rem;
    }
  }


  li {
    display: inline;

    @mixin atLarge {
      padding-right: 7px;
    }
  }


  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;

    @mixin atMedium {
      padding: 8px;
    }
  }
}
