.projects {
  background-color: steelblue;
  min-height: 85vh;
  /* position: relative; */

  &__content {
    /* position: relative;
    height: auto; */
    padding: 3% 0;

    @mixin atLarge {
      height: 100%;
    }
  }


  &__heading {
    text-align: center;
    h1{
      margin-top: 0;
    }
  }

  &__project-box {
    min-height: 300px;
    padding: 3% 0;
    /* background-color: white; */
    /* border: solid 1px black; */
    /* padding: 25px; */
    /*padding-left: 60px;
    padding-top: 20px;*/
    /* padding: 1rem 0;
    text-align: center;
    position: relative;
    transform: translatex(2%), translateY(2%); */


    /* img {
      width: 300px;
      height: 250px;
      margin-right: -25px;

      @mixin atLarge {
        transform: translateX(25%);
      }
    }

    .projects__text-box {
      text-align: left;

      h1 {
        margin-top: 0em;
      }

      @mixin atLarge {
        p {
          height: 100%;
          font-size: 1.1rem;

          @mixin atMedium {
            font-size: 1.3rem;
          }
        }
      }


    } */
  }
}
